body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif; /*Change Font family*/
  font-size: 2vw;
  flex-direction: column;
}

.Capitalise {
  text-transform: capitalize;
}

.Center {
  text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
}

.TitleSection {
  background-color: #5db9ff;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbd743;
  font-family: "Libre Baskerville", serif;
}

.TitleSection h1 {
  font-size: 10vw;
  text-shadow: rgb(255, 255, 255) 2px 0px 0px,
    rgb(255, 255, 255) 1.75517px 0.958851px 0px,
    rgb(255, 255, 255) 1.0806px 1.68294px 0px,
    rgb(255, 255, 255) 0.141474px 1.99499px 0px,
    rgb(255, 255, 255) -0.832294px 1.81859px 0px,
    rgb(255, 255, 255) -1.60229px 1.19694px 0px,
    rgb(255, 255, 255) -1.97998px 0.28224px 0px,
    rgb(255, 255, 255) -1.87291px -0.701566px 0px,
    rgb(255, 255, 255) -1.30729px -1.5136px 0px,
    rgb(255, 255, 255) -0.421592px -1.95506px 0px,
    rgb(255, 255, 255) 0.567324px -1.91785px 0px,
    rgb(255, 255, 255) 1.41734px -1.41108px 0px,
    rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.TitleSection input {
  width: 250px;
  height: 60px;
  border-radius: 10px; /*Nice*/
  border: 3px solid #1c94f0;
  padding-left: 10px;
  margin-top: 50px;
  color: black;
  font-size: 2rem;
}

.TitleSection button {
  width: 200px;
  height: 10vh;
  margin: 20px;
  border-radius: 10px; /*Nice*/
  font-size: 2rem;
  padding-left: 10px;
  margin-top: 30px;
  color: white;
  background-color: #043c67;
  font-family: "Silkscreen", cursive;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Serif Telugu", serif;
  font-size: 27px;
}

.DisplaySection img {
  width: 200px;
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
