<%- include('partials/header') %>

<form action="/" method="post">
  <label for="pokeInput">Pokemon Name: </label>
  <input id="pokeInput" type="text" name="pokeName" />
  <button type="submit">Go</button>
</form>

<%- include('partials/footer') %>
